/*
====================================================================================================================================================================
                                                    Start Slideshow Properties
====================================================================================================================================================================
*/


section#content {
  color: white;
  position: absolute;
  top: 400px;
  left: 570px;
}
h1.h1ofc {
  top:800px;
  left: 500px;
  position: absolute;

}

img#slide {
  width: 100%;
  height: auto;
}

div.course {
  width:400px;
  height:500px;
  position:absolute;
  background: white;
  border: 1px solid transparent;
  top:900px;
  left:50px;

}
div.course2 {
  width:400px;
  height:500px;
  position:absolute;
  background: white;
  border: 1px solid transparent;
  top:900px;
  left:475px;

}
div.course3 {
  width:400px;
  height:500px;
  position:absolute;
  background: white;
  border: 1px solid transparent;
  top:900px;
  left:900px;

}

h6 {
  font-size: 1em;
}
h2 {
  font-style: 20px;
}

section#about{
  width:100%;
  height:300px;
  background: grey;
  position: absolute;
  top: 1500px;
  left: 100px;
}

div.about{
  color: white;
  text-align: center;

}

div.students {
  width: 250px;
  height: 150px;
  color: white;
  top: 100px;
  left: 250px;
  text-align: center;
  position: absolute;
  background: black;
}
div.reviews {
  width: 250px;
  height: 150px;
  color: white;
  top: 100px;
  left: 600px;
  text-align: center;
  position: absolute;
  background: black;
}
div.courses {
  width: 250px;
  height: 150px;
  color: white;
  top: 100px;
  left: 951px;
  text-align: center;
  position: absolute;
  background: black;
}

div.learntechnow {
  width:400px;
  height:500px;
  position:absolute;
  background: white;
  border: 1px solid transparent;
  top:1950px;
  left:50px;
}
div.learntechpodcast {
  width:400px;
  height:500px;
  position:absolute;
  background: white;
  border: 1px solid transparent;
  top:1950px;
  left:475px;
}
div.learntechblog {
  width:400px;
  height:500px;
  position:absolute;
  background: white;
  border: 1px solid transparent;
  top:1950px;
  left:900px;
}
.h1lt {

    position: absolute;
    top: 1850px;
    left: 614px;

}
footer {
    width: 100%;
    height: 80px;
    background: #172035;
    position: absolute;
    top: 2600px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 1em;
}


/*
====================================================================================================================================================================
                                                    End Slideshow Properties
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start Featured Courses Properties
====================================================================================================================================================================
*/



/*
====================================================================================================================================================================
                                                    End Featured Courses Properties
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start About Section Properties
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
